@model MES.Web.Areas.Admin.Models.ENG_PRDLINE

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="box data-form">
    <div class="box-body">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LINENAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.LINENAME, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-5 error-msg">

                @Html.ValidationMessageFor(model => model.LINENAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BUNO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("BUNO",null, "-- 请选择 --", htmlAttributes: new { @class = "form-control select2", style="width:100%" })
                    </div>
                    <div class="col-md-5 error-msg">

                @Html.ValidationMessageFor(model => model.BUNO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DISPLAYNAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.DISPLAYNAME, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-5 error-msg">

                @Html.ValidationMessageFor(model => model.DISPLAYNAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STDYIELDRATE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.STDYIELDRATE, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-5 error-msg">

                @Html.ValidationMessageFor(model => model.STDYIELDRATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LINEGRP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.LINEGRP, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-5 error-msg">

                @Html.ValidationMessageFor(model => model.LINEGRP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-primary" />
			    @Html.ActionLink("取消", "Index", new {}, new {@class = "btn btn-default"})
            </div>
        </div>
    </div>
}

