@model MES.Web.Areas.Admin.Models.HR_OPERATORS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HR_OPERATORS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OPERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PWD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPTNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPTNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMENTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMENTS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OPERID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
