@model IEnumerable<MES.Web.Areas.Admin.Models.HR_OPERATORS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OPERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PWD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOBILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMENTS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OPERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PWD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOBILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OPERID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OPERID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OPERID })
        </td>
    </tr>
}

</table>
