@model IEnumerable<MES.Web.Areas.Admin.Models.ENG_ROUTE>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="box data-list">
    <div class="box-header with-border">
        <form class="form-inline" method="post">
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.RT_NAME)</label>
                <input type="text" class="form-control" name="RT_NAME" value="@ViewBag.Query.RT_NAME" />
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <span class="separator" />
            @Html.ActionLink("增加", "Create", "", new { @class = "btn btn-success" })
        </form>
    </div>
    <div class="box-body">
        <table class="table compact table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RT_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SEQNO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SUBLINENO)
                </th>
                <th>产线</th>
                <th>工序</th>
                <th>
                    @Html.DisplayNameFor(model => model.PREV_OPLIST)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NEXT_OPLIST)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFirst)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsLast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.COMMENTS)
                </th>
                <th>维护</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RT_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SEQNO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUBLINENO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Op.LINENAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Op.L_OPNO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PREV_OPLIST)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NEXT_OPLIST)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsFirst)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsLast)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COMMENTS)
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { RT_NAME = item.RT_NAME, SEQNO = item.SEQNO }, new { @class = "btn btn-info" })
                        @Html.ActionLink("删除", "Delete", new { RT_NAME = item.RT_NAME, SEQNO = item.SEQNO }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>