@model MES.Web.Areas.Admin.Models.WMS_CONTNRTYPE

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h3>确认要删除该数据吗?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONTAINERDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTAINERDESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARTGRP2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTGRP2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOLUMEQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOLUMEQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOL_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOL_UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTAINSUBQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTAINSUBQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OVERLIMIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OVERLIMIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRLBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRLBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBCONTNRTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBCONTNRTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARENTTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARENTTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINGLEPART)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINGLEPART)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMENTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMENTS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-danger" />
            @Html.ActionLink("取消", "Index", "", new { @class="btn btn-success"})
        </div>
    }
</div>
