@using System.Data
<!DOCTYPE html>
<html>
<head>
    <title>MES - 仓库管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/assets/css/all")
</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="logo dropdown-toggel" data-toggle="control-sidebar">MES Admin<i class="fa fa-angle-down pull-right"></i></a>
                    </li>
                    <li class="title">仓库管理</li>
                </ul>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_UserMenu")
                        <li>
                            <a href="#" class="text-yellow">
                                <i class="fa fa-info-circle"></i><span class="hidden-xs"> 帮助</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="sidebar control-sidebar control-sidebar-dark control-sidebar-left">
            <ul class="sidebar-menu">
                @if (null != ViewBag.Features)
                {
                    foreach (DataRow r in ViewBag.Features)
                    {
                        if (r["parent_id"] == DBNull.Value)
                        {
                            <li class="treeview active">
                                <a href="#">
                                    <i class="fa fa-dashboard"></i> <span>@r["APP_DESCRIPTION"]</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu menu-open" style="display: block;">
                                    @foreach (DataRow r1 in ViewBag.Features)
                                    {
                                        if (r["APP_ID"].Equals(r1["parent_id"]))
                                        {
                                            <li><a href="#@r1["APP_ID"]"><i class="fa fa-circle-o"></i>@r1["APP_DESCRIPTION"]</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
                else
                {
                    <li>
                        <div class="callout callout-danger">
                            <h4>出错了!</h4>
                            <p>
                                获取用户菜单出错，请重试。
                            </p>
                        </div>
                    </li>
                }
                <li class="treeview"><a href="@Url.Action("Index", "Admin")"><i class="fa fa-circle-o"></i><span>返回系统主页</span></a></li>
            </ul>
        </aside>
        <div class="control-sidebar-bg"></div>

        <div class="content-wrapper" id="wh-content">
            <section class="content wh-admin">
                <div class="box box-primary box-solid" id="wh-main"></div>
            </section>
        </div>
        @Html.Partial("_Foot")
    </div>
    <script>
        var WH = {
            info: {
                user:"@ViewBag.User",
                name: "WH",
                features: @Html.Raw(ViewBag.Features),
                app: "@Url.Content("~/")"
            }
        };
    </script>
    @Scripts.Render("~/assets/js/base")
    @Scripts.Render("~/assets/js/wh")
</body>

</html>