@model IEnumerable<MES.Web.Models.LineModel>
<!DOCTYPE html>
<html>
<head>
    <title>MES - Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/assets/css/all")
    @Styles.Render("~/assets/css/layout")
    <style>
        #panel-msg {
            position:absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            background-color: red;
        }
            #panel-msg p {
                line-height: 50px;
                color:#fff;
                margin: auto 10px;
            }
    </style>
</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="logo">MES Admin</a>
                    </li>
                </ul>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_UserMenu")
                        <li>
                            <a href="#" class="text-yellow">
                                <i class="fa fa-info-circle"></i><span class="hidden-xs"> 帮助</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content-wrapper">
            <section class="content">
            </section>
        </div>
        @Html.Partial("_Foot")
        <div id="panel-msg" style="display:none;">
            <p>AAA</p>
        </div>
    </div>
    @Scripts.Render("~/assets/js/base")
    @Scripts.Render("~/assets/js/layout")
    @Scripts.Render("~/assets/js/common")
    @Scripts.Render("~/assets/js/workshop")
    </body>
</html>