@using System.Data;
@model MES.Web.Models.StnModel
<!DOCTYPE html>
<html>
<head>
    <title>MES - 产线</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/assets/css/all")
</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="logo dropdown-toggel" data-toggle="control-sidebar">
                            <span class="logo-lg">
                                <img src="~/assets/img/logo.png" />
                                <i class="fa fa-angle-down pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="title">
                        @ViewBag.Line.DispName <i class="fa fa-angle-right"></i> @Html.DisplayFor(m => m.Stn) [ @Html.DisplayFor(m => m.Name) ]
                        <span class="extinfo"></span>
                    </li>
                </ul>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_UserMenu")
                        <li>
                            <a href="#" class="text-yellow">
                                <i class="fa fa-info-circle"></i><span class="hidden-xs"> 帮助</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="sidebar control-sidebar control-sidebar-dark control-sidebar-left">
            <ul class="sidebar-menu">
                <li class="treeview"><a href="Line?@Html.DisplayFor(m => m.Line)"><i class="fa fa-circle-o"></i><span>返回产线主页</span></a></li>
            </ul>
        </aside>
        <div class="control-sidebar-bg"></div>

        <div class="content-wrapper" id="stn-content">
            <section class="content line-admin row">
                <div class="col-sm-6" id="stn-main">
                    <div class="box box-primary box-solid">
                        <div id="stn-main-content">

                        </div>
                        <div id="stn-status-wrap">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" id="stn-sop">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">工单</h3>
                            <div class="box-tools">
                                <a class="btn btn-warning dropdown-toggel" data-toggle="dropdown" href="#">切换工单 &nbsp;<i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-primary" id="stn-wo-list"></ul>
                                <a class="btn btn-info" id="btn-sop-maximize" href="#"><i class="fa fa-window-maximize"></i></a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="carousel slide" data-ride="carousel" id="stn-sop-img">
                                <div class="carousel-inner" role="listbox">
                                </div>
                                <a class="left carousel-control" href="#stn-sop-img" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">上一章</span>
                                </a>
                                <a class="right carousel-control" href="#stn-sop-img" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">下一章</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_Foot")
    </div>
    <script>
        var Stn = {
            info: {
                user:"@ViewBag.User",
                line: "@Html.DisplayFor(model => model.Line)",
                lineName: "@ViewBag.Line.Name",
                op: "@Html.DisplayFor(model => model.Op)",
                stn: "@Html.DisplayFor(model => model.Stn)",
                name: "@Html.DisplayFor(model => model.Name)",
                features: @Html.Raw(ViewBag.FeatureStr),
                app: "@Url.Content("~/")"
            },
            Status: {}
        };
    </script>
    @Scripts.Render("~/assets/js/base")
    @Scripts.Render("~/assets/js/stn")
</body>

</html>